<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Vulist</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
		<div class="container">
	  		<h1 style=font-size:55px><a href="/" class="title"> Vulist</a></h1>
		<div class = "searchbar">
			<form action = "{% url 'new_page'%}" class = "new_page" method = "post">
				{% csrf_token %}
			 <input type="text" placeholder="Pretraži Vulist..." size="40"name="search">
			 <button type="submit">Pretraži</button>
			</form>
			{% block content %}
			{% endblock %}
		</div>
		</div>
	</div>
</body>
</html>



